<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{page.title}}</title>
    <!-- jsplumb -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/demo-all.css">
    <link rel="stylesheet" href="/css/gollum-template.css">
    <!-- yuidoc -->
    <link rel="stylesheet" href="{{ page.yuiGridsUrl }}">
    <link rel="stylesheet" href="{{ page.projectAssets }}/vendor/prettify/prettify-min.css">
    <link rel="stylesheet" href="{{ page.projectAssets }}/css/main.css" id="site_styles">
    <link rel="shortcut icon" type="image/png" href="{{ page.projectAssets }}/favicon.png">
    <script src="{{ page.yuiSeedUrl }}"></script>
    <style>
        #doc {
            text-align:left;
            margin-top:60px;
        }
    </style>
</head>
<body class="yui3-skin-sam">

    {% include header.html %}
    
    {{ content }}
    
    {% include track-apidocs.html %}
    
<script src="{{ page.projectAssets }}/vendor/prettify/prettify-min.js"></script>
<script>prettyPrint();</script>
<script src="{{ page.projectAssets }}/js/yui-prettify.js"></script>
<script src="{{ page.projectAssets }}/../api.js"></script>
<script src="{{ page.projectAssets }}/js/api-filter.js"></script>
<script src="{{ page.projectAssets }}/js/api-list.js"></script>
<script src="{{ page.projectAssets }}/js/api-search.js"></script>
<script src="{{ page.projectAssets }}/js/apidocs.js"></script>
</body>
</html>
